*.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
LSFDictionary/bin/LSFDictionary.dll
LSFDictionary/obj/Debug/LSFDictionary.dll
*.config
*.dll
*.pdb
*.cache
*.config
.vs/LSFDictionary/v14/.suo
*.dll
LSFDictionary/bin/LSFDictionary.pdb
*.pdb
LSFDictionary/obj/Debug/LSFDictionary.csproj.FileListAbsolute.txt
*.cache