@model List<LSFDictionary.Models.Dictionary>
@{
    ViewBag.Title = "Category";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->

<header class="intro-header intro-header-img">
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>LSFSchool</h1>
                    <hr class="small">
                    <span class="subheading">Dictionnaire LSF</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container CategoryWrapper">
    <center>
        <div class="row">
            <div class="col-md-3">
                <br />
                <h3>A l'école</h3>
                <i class="fa fa-graduation-cap circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Anatomie</h3>
                <i class="fa fa-child circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Animaux</h3>
                <i class="fa fa-bug circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Boissons</h3>
                <i class="fa fa-glass circle fa-3x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <br />
                <h3>Climat</h3>
                <i class="fa fa-sun-o circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Couleur</h3>
                <i class="fa fa-paint-brush circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Emotion</h3>
                <i class="fa fa-smile-o circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>En ville</h3>
                <i class="fa fa-building-o circle fa-3x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <br />
                <h3>Famille</h3>
                <i class="fa fa-users circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Fruits & Légumes</h3>
                <i class="fa fa-shopping-basket circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Informatique</h3>
                <i class="fa fa-laptop circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Calendrier</h3>
                <i class="fa fa-calendar circle fa-3x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <br />
                <h3>Langage courant</h3>
                <i class="fa fa-comment circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Maison</h3>
                <i class="fa fa-home circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Mathématique</h3>
                <i class="fa fa-percent circle fa-3x"></i>
            </div>
            <div class="col-md-3">
                <br />
                <h3>Profession</h3>
                <i class="fa fa-black-tie circle fa-3x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <br />
                <h3>Sport</h3>
                <i class="fa fa-futbol-o circle fa-3x"></i>
            </div>
            <div class="col-md-5">
                <br />
                <h3>Vetements</h3>
                <i class="fa fa-suitcase a circle fa-3x"></i>
            </div>
        </div>
    </center>
</div>