@model List<LSFDictionary.Models.Dictionary>    
    @{
        ViewBag.Title = "Tutoriel";
    }

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header intro-header-img">
        <div class="container body-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>LSFSchool</h1>
                        <hr class="small">
                        <span class="subheading">Dictionnaire LSF</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <h2>Comment lire sur les lèvres</h2>
        <br />
        Lire sur les lèvres est un véritable art dont la maitrise nécessite du temps et de la patience. Il est fréquent de recourir à ce stratagème, 
        même pour une personne ayant une ouïe très fine. Compte tenu des similitudes entre les sons, il est impossible de déchiffrer toutes les paroles 
        en observant uniquement le mouvement des lèvres. Toutefois, avec un peu de pratique et de rigueur, vous arriverez à connaitre une bonne partie de 
        ce que disent les gens sans les entendre.
        <br />
        <br />


        <center>
            <img src="~/Images/lecturelabiale.jpeg" type="image/jpeg" style="width:800px;height:555px;">
        </center>


        <h3>Comprendre la lecture labiale</h3>
        <br />

        <div class="tableOfContent">
            <ol type="1">
                <li><h5><a href="#et1">Accordez une égale importance au contexte et aux mouvements des lèvres.</a></h5></li>
                
                <li><h5><a href="#et2">Faites une lecture labiale de phrases et non de mots isolés.</a></h5></li>
                
                <li><h5><a href="#et3">Observez les mouvements et les expressions du visage.</a></h5></li>
                
                <li><h5><a href="#et4">Observez les postures et le langage corporel.</a></h5></li>
                
                <li><h5><a href="#et5">Déterminez les syllabes qui se ressemblent pour éviter les erreurs courantes.</a></h5></li>
                
                <li><h5><a href="#et6">Utilisez des mots connus pour trouver ceux que vous ignorez.</a></h5></li>
                
                <li><h5><a href="#et7">Invitez les gens à parler plus lentement.</a></h5></li>
                
            </ol>
        </div>
        <br />
        <h4 id="et1">1. Accordez une égale importance au contexte et aux mouvements des lèvres.</h4>
        La lecture labiale ne permet de déchiffrer qu'environ 30 % du discours prononcé par le locuteur. De nombreux mots et syllabes sont semblables à tel 
        point qu'il est pratiquement impossible de les distinguer en n'ayant recours qu'à cette méthode. La plupart des personnes qui lisent sur les lèvres 
        vous diront que finalement il ne s'agit pas vraiment de lire, car les paroles ne sont pas simples à déchiffrer. Les tics, la confusion, l'accent et 
        les déformations de la bouche rendent une lecture pratiquement impossible. Mais, vous aurez beaucoup plus de facilité, lorsque vous apprendrez à intégrer 
        la lecture labiale dans votre communication.
        <br />
        <br />

        <h4 id="et2">2. Faites une lecture labiale de phrases et non de mots isolés.</h4>
        Si vous essayez de capter chaque mot, la tâche sera trop difficile et vous n'arriverez pas à un résultat probant. Les orthophonistes savent qu'il est 
        plus simple de déchiffrer des mots longs et des phrases parce qu'il est possible de compléter les vides en se fiant au contexte. Cette méthode vous 
        permet de laisser de côté quelques mots sans perdre le sens de la conversation.
        <br />
        <br />

        <h4 id="et3">3. Observez les mouvements et les expressions du visage.</h4>
        Ainsi, vous comprendrez la tonalité et l'ambiance de la conversation. Les yeux et la bouche expriment beaucoup de choses, souvent plus que la voix. Ne 
        vous contentez pas de regarder les lèvres de quelqu'un. En effet, le visage d'une personne offre d'importants indices pour déterminer non seulement la 
        teneur de la phrase, mais aussi la manière de la dire.
        <br />
        <br />

        <h4 id="et4">4. Observez les postures et le langage corporel.</h4>
        Ainsi vous aurez des indices. N'oubliez pas que vous devrez trouver des sons en employant des images. Compte tenu de sa nature, ce travail est presque 
        impossible à maitriser totalement. Les personnes qui pratiquent la lecture labiale mettent tous les avantages de leur côté. Elles évaluent l'ambiance, 
        le ton et le sujet de la conversation. Voici une liste qui n'est pas exhaustive, mais elle couvre les principaux points sur cette question.
        <br />
        <br />

        <h4 id="et5">5. Déterminez les syllabes qui se ressemblent pour éviter les erreurs courantes.</h4>
        Il existe environ 37 sons différents en français. Malheureusement, seulement un tiers d'entre eux sont visuellement différents. La liste suivante donne 
        les sons dont la reconnaissance est souvent difficile soit en raison d'une position voisine des lèvres ou parce que les sons prêtent à confusion. Remarquez 
        que les lettres entre crochets indiquent les sons et non les lettres elles-mêmes :
        <ul>
            <li>[b] et [p]</li>
            <li>[k] et [g]</li>
            <li>[t] et [d]</li>
            <li>[f] et [v]</li>
            <li>[ch] et [z]</li>
            <li>[m] et [n]</li>
        </ul>
        <br />

        <h4 id="et6">6. Utilisez des mots connus pour trouver ceux que vous ignorez.</h4>
        En réalité, vous avez des blancs à remplir, mais vous ne réussirez pas à tous les coups. Cependant, cette méthode est plus efficace que celle qui consiste 
        à essayer de deviner les mots un par un. Certaines personnes qui pratiquent la lecture labiale ont besoin de réfléchir pendant quelques secondes avant de 
        répondre pour parler plus aisément ou éluder des questions délicates.
        <br />
        <br />

        <h4 id="et7">7. Invitez les gens à parler plus lentement.</h4>
        N'hésitez pas à le faire si vous êtes à l'aise avec votre interlocuteur. Soyez honnête avec lui et demandez-lui de parler moins vite. La question n'est pas 
        de l'impressionner avec vos compétences, mais d'avoir un échange intéressant ! Des paroles articulées plus lentement seront beaucoup plus faciles à 
        déchiffrer, ce qui vous permettra aussi de déterminer le contexte du discours.
        <br />
        <br />

    </div>