@{
    ViewBag.Title = "About";
}

<header class="intro-header intro-header-img">
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>LSFSchool</h1>
                    <hr class="small">
                    <span class="subheading">Dictionnaire LSF</span>
                </div>
            </div>
        </div>
    </div>
</header>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
